header {
    height: 75px;
    margin-bottom: 20px;
}

p.logo {
    text-align: center;
}

nav.drawer-nav {
    background-color: black;
    width: 200px;

}

.drawer-nav li a {
    color: white;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Poiret One', cursive;
    font-family: 'Josefin Slab', serif;
}


main {
    width: 1280px;
    height: 1450px;
    margin: 0 auto;

}

.aboutus {
    position: relative;
}

.aboutus h2 {
    position: absolute;
    color: ghostwhite;
    top: 250px;
    left: 100px;
    font-size: 80px;
    margin-bottom: 20px;
    font-family: 'Poiret One', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Prata', serif;
}


.box1 {
    position: absolute;
    width: 550px;
    top: 360px;
    left: 30px;
    font-size: 20px;
    color: ghostwhite;
}

.box1 P {
    line-height: 45px;
    font-family: 'Poiret One', cursive;
    font-family: 'Josefin Slab', serif;
}

.main_access {

    width: 400px;
    float: left;
    margin-left: 40px;
    margin-top: 185px;
    font-family: 'Poiret One', cursive;
    font-family: 'Josefin Slab', serif;
    margin-right: 40px;
}

h2.access_top {
    font-size: 30px;
    margin-bottom: 50px;
}


dt.address_inner {
    display: inline-block;
    font-size: 15px;
    margin-right: 90px;
    margin-bottom: 30px;
    border-right: solid 1px;
    border-left: solid 1px;
    padding: 0 10px;

}

dd {
    display: inline-block;
    font-size: 15px;
}

dt.tel {
    display: inline-block;
    font-size: 15px;
    margin-right: 92px;
    margin-bottom: 30px;
    border-right: solid 1px;
    border-left: solid 1px;
    padding: 0 10px;
}

dt.time {
    display: inline-block;
    font-size: 15px;
    margin-right: 90px;
    margin-bottom: 30px;
    border-right: solid 1px;
    border-left: solid 1px;
    padding: 0 10px;
}

dt.access {
    display: inline-block;
    font-size: 15px;
    margin-right: 60px;
    margin-bottom: 30px;
    border-right: solid 1px;
    border-left: solid 1px;
    padding: 0 10px;
}

dt.rest {
    display: inline-block;
    font-size: 15px;
    margin-right: 75px;
    margin-bottom: 30px;
    border-right: solid 1px;
    border-left: solid 1px;
    padding: 0 10px;
}

.map_img {
    margin-top: 40px;
    float: left;
}


footer {
    width: 1280px;
    height: 100px;
    background-color: black;
    margin: 0 auto;
}

.footer_list {
    text-align: center;
    margin-bottom: 10px;


}

.footer_inner {
    margin-top: 20px;
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

footer p {
    text-align: center;
    color: white;
    font-family: 'Poiret One', cursive;
    font-family: 'Josefin Slab', serif;
}
